.about__games {
	@include flex(wrap row);
	width: 100% !important;

	.about__subtitle {
		padding: 0 0 15px;
	}

	.about__title,
	.about__subtitle {
		flex: 0 0 $about_wrap;
		margin: 0 auto; 
	}

	.about__title {
		margin: 0 $about_wrap_margin;
	}

	&_list {
		flex: 0 0 100%;
		overflow: hidden;
		margin-bottom: 50px;
		@include flex(nowrap row);

		li {
			flex: 1 0 calc(100% / 6);

			img {
				width: 100%;
			}
		}

		&:last-child { margin-bottom: 0; }
	}
}