.about__profile {
	@include flex(wrap row);
	@include flex-align(center, flex-start, initial);

	img, div, h2 {
		display: block;
		flex: 0 0 50%;
		height: auto;
	}

	img {
		width: 50%;
		height: auto;
	}

	div {
		padding: 0 15px 15px;

		p {
			padding-bottom: 7px;
		}
	}
}