.about__profile {
	@include flex(wrap row);
	@include flex-align(center, flex-start, initial);

	.about__title { flex-basis: 100%; }

	img, div {
		display: block;
		flex: 0 0 50%;
		height: auto;

		@media screen and (max-width: 760px) { flex-basis: 100% !important; }
	}

	img {
		width: 50%;
		height: auto;
	}

	div {
		padding: 0 15px 15px;

		p {
			padding-bottom: 7px;
		}
	}
}