.know-me {
	width: 100%;
	height: auto;
	background-image: linear-gradient(to right, transparent, rgba(0,0,0,0.1));
	padding: 5% 0 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-flow: wrap row;

	> img {
		flex: 0 0 40%;
		width: 40%;
		align-self: flex-end;
	}

	> article {
		flex: 0 0 60%;
		width: 60%;

		> h1 {font-family: 'Gloria Hallelujah', cursive;}
	}
}

.skills {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: wrap row;
	padding: 0 3%;

	> h1 {
		align-self: flex-end;
		text-transform: uppercase;
		font-family: 'Gloria Hallelujah', cursive;
		padding: 20px 0 15px;
		flex: 0 0 100%;
	}

	> article {
		flex: 0 0 45%;

		> ul > li {
			width: 100%;
			height: auto;
			display: block;
			padding: 0 0 10px;
			font-size: 19px;
			text-transform: uppercase;

			> span {
				display: block;
				width: 100%;
				background-color: rgba(0,0,0,0.5);
				text-align: right;
				padding: 5px;
				font-size: 15px;
				color: #fff;

				&.html {background-color: $html; width: 69%;}
				&.css {background-color: $css; width: 76%;}
				&.scss {background-color: $scss; width: 48%;}
				&.responsive {background-color: $responsive; width: 66%;}
				&.php {background-color: $php; width: 57%;}
				&.oop {background-color: $oop; width: 24%;}
				&.js {background-color: $js; width: 37%;}
				&.jquery {background-color: $jquery; width: 38%;}
				&.git {background-color: $git; width: 53%;}
				&.mysql {background-color: $mysql; width: 49%;}
				&.node {background-color: $node; width: 2%;}
				&.linux {background-color: $linux; width: 38%;}
			}
		}
	}
}