---

---
@charset "utf-8";

$html: #f16529;
$css: #0270BB;
$scss: #2BA8ED;
$php: #6C7EB7;
$oop: #9AA0C6;
$javascript: #F1BF26;
$jquery: #131B28;
$git: #F34F29;
$mysql: #316072;
$responsive: #52845F;
$linux: #DD8E3A;
$node: #7FBD42;
$gray: #333;

@import 'reset.scss';
@import 'flaticon.scss';
@import 'header.scss';
@import 'home.scss';
@import 'pages.scss';
@import 'post.scss';
@import 'footer.scss';
@import '_syntax-highlighting.scss';