---
---

@charset "utf-8";

$yellow: #f0b01b;
$blue: #2d4059;
$red: #E84545;

#wrapper {
	min-height: calc(100vh - 113px);
}

.highlight pre code { 
	padding: 25px 0;
	width: 100%;
	color: #fff;
	font-size: 14px;
	background: #323232;
	text-align: left;
	display: block; 
	white-space: pre;
	overflow-x: auto;
	word-wrap: normal; 
}

.bold {
	font-weight: bold !important;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset";
@import "header";
@import "home";
@import "projects";
@import "posts";
@import "footer";

@media screen and (min-width: 1366px) {
	body {
		width: 1366px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 1000px) {
	#home-posts article,
	#post article {
		width: 95%;
		margin-top: 15px;
		margin-bottom: 15px;

		a button {
			width: 80%;
		}

		> p,
		> ul > li {
			font-weight: 400;
		}
	}

	#disqus_thread {
		width: 95% !important;
	}

	#projects {
		> h1 {padding: 20px 0 10px;}

		> section > article {
			flex: 0 0 95%;
			margin: 2.5%;
		}
	}
}