$blue: #1056ad;
$red: #1056ad;
$yellow: #1056ad;
$cyan: #89DDFF;
$pink: #f07178;

@import 'reset.scss';
@import 'flaticon.scss';

// HEADER

#header {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: transparent;

	> nav {
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: wrap row;
		position: absolute;
		top: 0;
		z-index: 2;
		font-size: 19px;
		padding: 14px;
		left: 0;
		justify-content: space-around;

		> a {color: #fff;}

		> a:first-child {
			text-transform: uppercase;
			font-weight: 600;
		}

		ul {
			flex: 0 0 auto;
			text-align: center;
			
			> li {
				display: inline-block;

				> a {
					color: #fff;
					padding: 0px 7px;
					border-bottom: none;
					text-transform: uppercase;
					transition: all 0.1s linear 0.05s;
				
					&[class^="flaticon-"]:before, 
					&[class*=" flaticon-"]:before,
					&[class^="flaticon-"]:after, 
					&[class*=" flaticon-"]:after {
						font-size: 25px;
					}
				}
			}

			&.first {
				padding: 0px 10px;
				flex-basis: 80%;
				//padding-top: 3px;

				> li > a:hover {
					padding-bottom: 4px;
					border-bottom: 2.5px solid #fff;
					transition: all 0.1s linear 0.05s;
				}
			}
		}

		> a:last-child {
		}
	}

	span {
		font-size: 50px;
		color: #fff;
		font-weight: 500;
		border: 5px solid white;
		padding: 10px 13px;
		z-index: 2;
		transition: all 0.5s ease-out 0.2s;

		&:hover {
			transition: all 0.5s linear 0.1s;
			font-size: 60px;
		}
	}

	> div {
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-image: url(../img/sea.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
		position: absolute;
		z-index: -1;
	}
}

#works {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: wrap row;
	height: 100vh;

	> article {
		flex: 0 0 auto;
		height: 100vh;

		&:first-child {
			background-image: url(../img/back.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			flex-basis: 65%;
			color: #fff;

			&:hover {
				
				&:before {
					display: flex;
					justify-content: center;
					align-items: center;
					align-content: center;
					font-family: "Flaticon";
					font-size: 50px;
					font-style: normal;
					content: "\f10c";
					cursor: pointer;
					width: 100%;
					color: #fff;
					font-size: 30px;
					text-align: center;
					height: 100vh;
					background-color: rgba(0,0,0,0.5); 
				}
			}
		}

		&:last-child {
			flex-basis: 35%;

			> ul > li {
				width: 100%;
				height: calc(100vh / 3);
				background-image: url(../img/back.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;

				&:hover:before {
					display: flex;
					justify-content: center;
					align-items: center;
					align-content: center;
					font-family: "Flaticon";
					font-size: 50px;
					font-style: normal;
					content: "\f10c";
					color: #fff;
					cursor: pointer;
					width: 100%;
					text-align: center;
					height: 100%;
					background-color: rgba(0,0,0,0.5); 
				}
			}
		}
	}
}

#who {
	text-align: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap column;
	align-content: center;
	color: #fff;
	background: url(../img/myself.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;

	> span {
		font-size: 40px;
    	font-family: 'Gloria Hallelujah', sans-serif;
		padding: 0 15px 0%;
	}

	> ul {
		text-align: center;
		padding: 0% 0% 3%;

		> li {
			display: inline-block;
			
			> a {
				color: #fff;
				padding: 8px 12px;

				&:before {font-size: 35px;}
			}
		}
	}
	
	p {
		width: 30%;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
}

#skills {
	height: 100vh;
	width: 100%;
	background: url(../img/myself.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 3%;
	text-align: center;

	> h2 {
		color: #fff;
		font-weight: 400;
		text-transform: lowercase;
		padding-bottom: 3%;
	}

	> #projects {
		display: flex;
		width: 100%;
		height: auto;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: center;
		align-content: center;

		> article {
			flex: 0 0 calc(90% / 4);
			background-color: #1056ad;
			height: 250px;
		}
	}
}

#link {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 15px;
	cursor: pointer;
	color: #fff;
	border-radius: 100%;
	font-size: 45px;
	font-family: "Flaticon";
	-webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.55);

	&:before {content: "\f103";}
}

#lightbox {
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: wrap row;
	color: $blue;
	z-index: 5;


	> article {
		flex: 0 0 auto;
		height: 100vh;

		&.first-lightbox {
			background: url(../img/close.jpg) no-repeat center;
			background-size: cover;
			flex-basis: 70%;
		}

		&.last-lightbox {
			flex-basis: 30%;
			background-color: #212121;
			padding: 17px;
			color: $cyan;

			h4 {
				color: $pink;
				font-weight: 300;
				padding: 10px 0px 3px;
				text-transform: lowercase;
				
				&:first-child {padding-top: 0;}
				& > a {
					color: inherit;
					font-weight: inherit;
					text-transform: inherit;

					&:before {
						font-family: "Flaticon";
						content: "\f10c";
						padding-right: 5px;
					}

					&:hover {color: #fff;}
				}

			}

			p {
				width: 100%;
				font-size: 14px;
			}

			.cups {
				font-family: "Flaticon";
				list-style-type: none;

				> li {
					display: inline-block;
					padding: 0px 3px;
					
					&:before {
						font-family: "Flaticon";
						content: "\f104";
					}

					&:first-child {padding-left: 0;}
				}
			}

			.tags {
				padding-top: 4px;
				li {
					display: inline-block;
					padding: 7px;
					margin-right: 7px;
					font-size: 12px;
					color: $cyan;
					border: 1px solid $cyan;
					border-radius: 3px;
				}
			}

		}
	}
}

@media screen and (max-width: 1000px) {
	#lightbox {
		display: block;
		
		> .link {left: auto;right: 0;}
		> article {
			width: 100%;
			height: 100vh;

			&.last-lightbox {
				padding: 3%;
				height: auto;
			}
		}
	}
}
