#talk {
	width: 100%;
	height: 100vh;
	background-color: #1056ad;
	transform: translateX(0%);
	display: none;
}



/*
<section class="show" id="know-me">
	<div>
		<h1>About me</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cupiditate ipsam eligendi! Eaque quo inventore voluptatum nihil blanditiis possimus veritatis quidem aspernatur aliquid, illum at dignissimos, accusamus ex ad consequuntur?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cupiditate ipsam eligendi! Eaque quo inventore voluptatum nihil blanditiis possimus veritatis quidem aspernatur aliquid, illum at dignissimos, accusamus ex ad consequuntur?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus cupiditate ipsam eligendi! Eaque quo inventore voluptatum nihil blanditiis possimus veritatis quidem aspernatur aliquid, illum at dignissimos, accusamus ex ad consequuntur?</p>
	</div>
	<img src="img/profile.png" alt="">
</section>

<section class="show" id="skills">
	<h1>Skills</h1>
	<article>
		<ul>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
		</ul>
	</article>
	<article>
		<ul>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
			<li>Technology name<span>98%</span></li>
		</ul>
	</article>
</section>

<section id="talk">
</section>
*/

#wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	flex-flow: nowrap row;

	section {
		width: 100%;
		height: 250px;
		background-color: #1056ad;
		flex: 0 0 100%;

		&:nth-child(2) {
			background-color: #323232;
		}

		&:last-child {
			background-color: #919191;
		}
	}
}