.about__intro {
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);
	padding: 20px;
	margin-bottom: 60px;

	&_title,
	&_line {
		flex: 0 0 60%;
		color: $gray;

		@media screen and(max-width: 1024px) { flex-basis: 90%; }
		@media screen and(max-width: 760px) { flex-basis: 100%; }
	}

	&_line {
		font-size: 18px;
	}
}