.about {
	@include flex(wrap row);
	@include flex-align(flex-start, flex-start, flex-start);
	padding: 20px;

	&__title,
	&__line,
	&__button {
		flex: 0 0 100%;
	}

	&__button {
		flex-basis: auto;
		margin-top: 40px;
		margin-left: auto;
		
		button {
			padding: 15px 20px;
			background-color: $green;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 15px;
		}
	}

	@media screen and (max-width: 760px) {
		&__button {
			margin-right: auto;
			flex-basis: 100%;
		}
	}
}