.projects {
	width: 100%;
	height: 400px;
	@include flex(wrap row);
	@include flex-align(flex-start, flex-start, flex-start);
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 51% 60%, 0 49%);
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 51% 60%, 0 49%);
	background-color: $green;

	&__item {
		flex: 0 0 calc(100% / 5);
	}
}