.projects {
	width: 100%;
	height: 400px;
	@include flex(nowrap row);
	@include flex-align(flex-start, flex-start, flex-start);
	-webkit-clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 85%, 0 70%);
	clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 85%, 0 70%);
	position: relative;
	overflow: hidden;
	z-index: map-get($z-index, projects);

	&__item {
		flex: 0 0 calc(100% / 5);
		height: 100%;
		padding: 15px;
		transition: all 0.4s ease 0.01s;

		&_title,
		&_intro,
		&_list a {
			color: #fff;
		}

		&_list {
			padding: 5px 0;

			li {
				display: inline-block;
				padding-top: 10px;
				padding-right: 8px;

				a {
					color: #fff;
					font-size: 22px;
					padding-right: 10px;

					&[icon="github"] {
						@extend .icon-github;
					}

					&[icon="link"] {
						@extend .icon-link;
					}
				}
			}
		}

		&[project="mustang-js"] { background-color: $mysql; }
		&[project="shield-scss"] { background-color: map-get($post-color, blue); }
		&[project="keyguard"] { background-color: darken(map-get($post-color, yellow), 10%); }
		&[project="start-user"] { background-color: $gray; }
		&[project="awesome-series"] { background-color: $yellow; }
		&[project="awesome-movies"] { background-color: $yellow; }
		&[project="diametrum"] { background-color: mix($blue, $red); }
		&[project="favorite-articles"] { background-color: darken(map-get($post-color, green), 30%); }
		&[project="favorite-blogs"] { background-color: $green; }
		&[project="front-challenges"] { background-color: darken($php, 5%); }
		&[project="storage-calc"] { background-color: mix(darken($html, 5%), $gray); }

		@media screen and (max-width: 1280px) {
			flex-basis: calc(100% / 4);
		}

		@media screen and (max-width: 760px) {
			flex-basis: 100%;
		}
	}

	@media screen and (max-width: 760px) {
		height: 250px;
		margin-bottom: -20px;
	}
}