.article {
	@include flex(wrap row);
	justify-content: center;

	> article {
		h1, h2, h3, h4 {
			color: $gray;
			padding: 40px 0 15px;
		}

		h2 { @extend h1; }
		h3 { @extend h2; }
		h4 { @extend h3; }
	}

	> article:not(.article__content) {
		flex: 0 0 90%;
		//margin: 0 10%;
	}

	&__content { flex: 0 0 100%; }
	
	@include post-category();

	@media screen and (min-width: 1024px) {
		> article:not(.article__content) { flex-basis: 80%; }
	}
}