.article {
	@include flex(wrap row);
	justify-content: center;

	article:not(.article__content) {
		flex: 0 0 80%;
		//margin: 0 10%;
	}

	&__content { flex: 0 0 100%; }
	
	@include post-category();
}