.article__content {
	> p, 
	> a, 
	> h1, 
	> h2, 
	> h3, 
	> h4,
	> blockquote,
	> ol,
	> ul { padding: 0 10%; }
	
	> ol { padding: 0 10% 0 11.5%; }

	> p, > a {
		padding-bottom: 20px;
	}

	p,
	a,
	blockquote,
	ol,
	ul,
	li {
		color: $gray;
		font-size: $font-size-tablet;
	}

	a { border-bottom: 1px dashed $gray; }

	li {
		padding-bottom: 8px;

		a { padding-bottom: 2px; }
	}

	> h1, 
	> h2, 
	> h3, 
	> h4 {
		color: $gray;
		padding: 40px 10% 15px;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
		margin: 20px auto;
	}

	&[category="php"] { @include post-category(php); }
	&[category="mysql"] { @include post-category(mysql); }
	&[category="html"] { @include post-category(html); }
	&[category="html5"] { @include post-category(html5); }
	&[category="css"] { @include post-category(css); }
	&[category="css3"] { @include post-category(css3); }
	&[category="scss"] { @include post-category(scss); }
	&[category="sass"] { @include post-category(sass); }
	&[category="js"] { @include post-category(js); }
	&[category="javascript"] { @include post-category(javascript); }
	&[category="git"] { @include post-category(git); }
	&[category="linux"] { @include post-category(linux); }
}