.header__article {
	.header__wrapper {
		flex-basis: 80%;

//		&_title { padding: 10px 0; }

		@media screen and (max-width: 760px) {
			flex-basis: 90% !important;
		}
	}

	&::after {
		background-color: rgba(#000, 0.6);
	}
}