<section class="intro section">
    <div class="intro__image"></div>

    <header class="intro__header">
        <h2 class="intro__title">hernandes</h2>
        <h5 class="intro__subtitle">web developer</h5>
    </header>
</section>

<section class="about section">
    <article class="about__wrapper">
        <p>
            Sou desenvolvedor Back-End, trabalho com NodeJS, sou co-organizador do <a href="http://twitter.com/backendbrasil">@BackEndBrasil</a> e sou estudante de Ciência da Computação.
        </p>

        <p>
            Atualmente estou trabalhando na <a href="https://binds.co/" target="_blank">Binds.co</a>, uma ferramenta para monitoramento e pesquisa de satisfação como desenvolvedor Back-End =]
        </p>

        <p>
            <a href="mailto:midia.matheus@gmail.com" target="_blank">midia.matheus@gmail.com</a>

            <ul class="about__wrapper_social">
                <li><a href="https://www.github.com/onhernandes" target="_blank"><svg><use xlink:href="#github"></use></svg></a></li>
                <li><a href="https://www.medium.com/@onhernandes" target="_blank"><svg><use xlink:href="#medium"></use></svg></a></li>
                <li><a href="https://getpocket.com/@onhernandes" target="_blank"><svg><use xlink:href="#pocket"></use></svg></a></li>
            </ul>
        </p>
    </article>
</section>

<hr class="spacer" />

<section class="articles section">
    <article>
        <h2>Artigos</h2>

        <ul class="articles__list">
            <% page.posts.each(function(post) { %>
                <li>
                    <a href="<%- url_for(post.path) %>">
                        <time><%= date(post.date, config.date_format) %></time> - <%= post.title %>
                    </a>
                </li>
            <% }) %>
        </ul>
    </article>
</section> 

<hr class="spacer" />

<section class="projects section">
    <article>
        <h2>Projetos</h2>
        <ul class="projects__list">
            <li><a href="https://github.com/onhernandes/soundman" target="_blank">Soundman - API para download, tratamento de metadados e envio de músicas!</a></li>
            <li><a href="https://github.com/onhernandes/soundman-chrome" target="_blank">Soundman Chrome - Extensão do Chrome pra enviar suas músicas dos seus favoritos para sua playlist no Spotify</a></li>
            <li><a href="https://github.com/onhernandes/dragon-theme" target="_blank">Dragon - Tema Jekyll</a></li>
            <li><a href="https://github.com/onhernandes/diametrum" target="_blank">Diametrum - Tema Jekyll</a></li>
            <li><a href="https://github.com/onhernandes/shield-scss" target="_blank">ShieldSCSS biblioteca pessoal de SCSS(obsoleta)</a></li>
            <li><a href="https://github.com/onhernandes/front-challenges" target="_blank">Front-end challenges - desafios para front-enders!</a></li>
            <li><a href="https://github.com/onhernandes/sublime-scss-snippets" target="_blank">Snippets completos de SASS/SCSS para SublimeText3</a></li>
        </ul>
    </article>
</section>
