.categories {
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);

	&__list {
		flex: 0 0 80%;
		padding: 60px 0 0;

		@media screen and (max-width: 960px) {
			flex-basis: 100% !important;
		}
	}
}

.categories__list {
	&_title {
		padding: 15px 0 5px;
	}

	&_content {
		padding-left: 10px;

		li {
			padding: 10px 0;
			text-transform: none;

			a {
				color: inherit;
				text-transform: none;
			}
		}
	}


	&[id="back-end"] { color: lighten($red, 10%); }

	&[id="front-end"] { color: lighten($blue, 10%); }

	&[id="html"] { color: $html; }

	&[id="css"] { color: $css; }

	&[id="scss"] { color: $scss; }

	&[id="js"] { color: $javascript; }

	&[id="php"] { color: darken($php, 8%); }

	&[id="mysql"] { color: $mysql; }

	&[id="linux"] { color: $linux; }

	&[id="dev"] { color: $node; }

	&[id="life"] { color: $orange; }
}