---
layout: default
title: 'About'
---

<section class="about">
	<article class="about__piece">
		<h1>current project</h1>
	</article>

	<article sizer="two-four" class="about__piece">
		<h1>life summary</h1>
	</article>

	<article class="about__piece">
		<h1>instagram</h1>
	</article>

	<article sizer="two-four" class="about__piece">
		<h1>github</h1>
	</article>

	<article class="about__piece">
		<h1>knowledge</h1>
	</article>

	<article sizer="two-four" class="about__piece">
		<h1>twitter</h1>
	</article>

	{% for project in site.posts %}
		{% if project.kind == 'project' %}
			<article class="about__piece">
				<a href="{{ project.link }}">
					<h1>{{ project.title }}</h1>
				</a>
			</article>
		{% endif %}
	{% endfor %}
</section>

<section class="about__modal">
	<article class="about__modal_content" image="off">
		<h1>Título</h1>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem fuga explicabo, voluptates, dignissimos earum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem fuga explicabo, voluptates, dignissimos earum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem fuga explicabo, voluptates, dignissimos earum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem fuga explicabo, voluptates, dignissimos earum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem fuga explicabo, voluptates, dignissimos earum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatem fuga explicabo, voluptates, dignissimos earum.
		</p>

		<img src="/assets/img/office.jpg" alt="">
	</article>
</section>