---
layout: default
title: Articles
image: articles.jpg
---

<section class="articles">
	{% for post in site.posts %}
		<article class="article {{ post.master }}-article">
			<span class="date">
				{% include post-date.html %}
			</span>

			<a href="{{ post.url }}">
				<h1>{{ post.title }}</h1>
			</a>

			<p>
				{{ post.intro }}
			</p>
		</article>
	{% endfor %}
</section>

{% comment %}
	<h1 class="advice">Ops!</h1>
	<h1 class="advice">I have not written anything yet, come back later</h1>

	
{% endcomment %}