---
layout: default
title: 'Blog'
---

<section class="filters">
	<h1>Quick Filters</h1>
	
	<ul class="filters__list">
		<li class="filters__list_category" filter="abc">
			<a href="javascript:void(0);">
				filter
			</a>
		</li>

		<li class="filters__list_category" filter="abc">
			<a href="javascript:void(0);">
				filter
			</a>
		</li>

		<li class="filters__list_category" filter="abc">
			<a href="javascript:void(0);">
				filter
			</a>
		</li>

		<li class="filters__list_category" filter="abc">
			<a href="javascript:void(0);">
				filter
			</a>
		</li>
	</ul>
</section>

<section class="blog">
	{% for post in site.posts %}
		<article class="post">
			<div class="post__content" bg-color="{{ post.bg-color }}" magic="{{ post.magic }}">
				<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
					<h2 class="post__content_title">
						{{ post.title | truncatewords: 5 }}
					</h2>
				</a>

				<ul class="post__content_tags">
					{% for category in post.categories %}
						<li tag="{{ category }}">
							<a href="{{ category }}">
								{{ category }}
							</a>
						</li>						
					{% endfor %}
				</ul>

				<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">
					<p class="post__content_intro">
						{{ post.intro | truncatewords: 10 }}
					</p>
				</a>
			</div>

			<div class="post__background"{% if post.image %}style="background-image: url('/assets/img/{{ post.image }}');"{% endif %}></div>
		</article>
	{% endfor %}
</section>