---
layout: default
title: 'Home'
image: 'home.jpg'
test:
- a
- b
- c
- c
- c
- c
- c
- c
- c
---

<section class="projects">
	{% for t in page.test %}
		<article class="projects__item" title="" color="black">
			<a href="" class="projects__item_title">
				<h1 title="">title</h1>
			</a>

			<a href="" class="projects__item_intro" title="">intro</a>

			<ul class="projects__item_list">
				<li><a href="" title="" target="">G</a></li>
				<li><a href="" title="" target="">G</a></li>
			</ul>
		</article>
	{% endfor %}
</section>

<section class="about__intro">
	<a href="" class="about__intro_title" title="">
		<h1>About</h1>
	</a>
	
	<a href="" class="about__intro_line">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestiae pariatur adipisci cum, molestias possimus eius ea, ducimus harum, modi a. Quam ad atque autem quos! Eum libero atque enim.
	</a>
</section>

<section class="posts">
	<header class="posts__header">
		<h1>latest posts</h1>
	</header>

	{% for t in page.test %}
		<article class="posts__item" color="">
			<div class="posts__item_category">
				<a href="">
					Category
				</a>
			</div>

			<div class="posts__item_title">
				<a href="">
					ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, aut laborumspandolorum eligendi atque a!
				</a>
			</div>

			<div class="posts__item_date">
				13/07/1970
			</div>
		</article>
	{% endfor %}
</section>

<br><br><br><br><br><br><br><br><br>