---
layout: default
title: 'Home'
image: 'home.jpg'
---

<section class="projects">
	{% for post in site.posts %}
		<article class="projects__item" title="" color="black">
			<a href="" class="projects__item_title">
				<h1 title="">title</h1>
			</a>

			<a href="" class="projects__item_intro" title="">intro</a>

			<ul class="projects__item_list">
				<li><a href="" title="" target="">G</a></li>
				<li><a href="" title="" target="">G</a></li>
			</ul>
		</article>
	{% endfor %}
</section>

<section class="about__intro">
	<a href="" class="about__intro_title" title="">
		<h1>About</h1>
	</a>
	
	<a href="" class="about__intro_line">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestiae pariatur adipisci cum, molestias possimus eius ea, ducimus harum, modi a. Quam ad atque autem quos! Eum libero atque enim.
	</a>
</section>

<section class="posts">
	<header class="posts__header">
		<h1>latest posts</h1>
	</header>

	{% for post in site.posts limit:3 %}
		<article class="posts__item" color="">
			<div class="posts__item_category">
				<a href="{{ site.url | append: '/category#' | append: post.category }}">
					{{ post.category }}
				</a>
			</div>

			<div class="posts__item_title">
				<a href="{{ post.url | prepend: site.url }}">
					{{ post.title | truncatewords: 10 }}
				</a>
			</div>

			<div class="posts__item_date">
				{{ post.date | date: '%B %d, %Y' }}
			</div>
		</article>
	{% endfor %}

	<a href="{{ '/blog' | prepend: site.url }}" class="posts__button">
		<button>Keep reading</button>
	</a>
</section>