---
layout: default
title: Series
image: 'standard.jpg'
opacity: 0
---

{% for serie in site.series %}
	{% for post in site.posts %}
		{% if post.serie == serie.title %}
			<h3 class="serie__title">{{ post.title }}</h3>
			<ul class="serie__list">
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
			</ul>
		{% endif %}		
	{% endfor %}
{% endfor %}

<section class="serie">
	<h2 class="serie__title">Sorry but still don't exist any serie</h2>
	<h3 class="serie__subtitle"><a href="/blog" title="Blog">Check blog page for more posts!</a></h3>
</section>