{% comment %}
			This is my website/blog. Here I talk about me, some things that I do and I write articles.
<section class="slide">
	{% for post in site.posts %}
		{% if post.type == 'project' %}
			<article class="banner">
				<a href="{{ post.url | prepend: site.baseurl }}">
					<h1>{{ post.title }}</h1>

					<p>
						{{ post.intro | truncatewords: 45 }}
					</p>
				</a>
			</article>			
		{% endif %}
	{% endfor %}
</section>
{% endcomment %}



<section class="articles">
	<h1>articles</h1>
	
	{% for post in site.posts %}
		{% if post.type == 'article' %}
			{% if post.idiom == 'eng' %}
				<article class="article">
					<a href="{{ post.url | prepend: site.baseurl }}">
						<h1>{{ post.title }}</h1>
					</a>
				</article>
			{% endif %}		
		{% endif %}
	{% endfor %}
</section>


			{% for project in site.posts %}
				{% if project.type == "project" %}
					<li class="project {{ project.language }}">
						<a href="{{ project.url | prepend: site.baseurl }}">
							<h2>{{ project.title }}</h2>
							<p>{{ project.intro }}</p>
						</a>
					</li>					
				{% endif %}
			{% endfor %}