---
layout: default
title: Tags
image: 'standard.jpg'
opacity: 0
---

<section class="tags">
	<article class="tags__cloud">
		<ul>
		{% assign tags_list = site.tags %}
			  {% if tags_list.first[0] == null %}
				    {% for tag in tags_list %}
				        <li><a href="#{{ tag }}" title="">{{ tag }}</a></li>
				    {% endfor %}
			  {% else %}
				    {% for tag in tags_list %}
				    	<li><a href="#{{ tag[0] }}" title="">{{ tag[0] }}</a></li>
				    {% endfor %}
			  {% endif %}
		{% assign tags_list = nil %}
		</ul>
	</article>

	{% for tag in site.tags %}
		<article class="tags__item">
			<h2 id="{{ tag[0] }}" class="tags__item_title">{{ tag[0] }}</h2>

			<ul class="tags__item_list">
		        {% assign pages_list = tag[1] %}
		        {% for post in pages_list reversed %}
		            {% if post.title != null %}
			            {% if group == null or group == post.group %}
							<li>
								<a href="{{ post.url }}" title="{{ post.title }}">
									{{ post.title }}
									<span>{{ post.date | date: '%B %d, %Y' }}</span>
								</a>
							</li>
			            {% endif %}
		            {% endif %}
		        {% endfor %}
		        {% assign pages_list = nil %}
		        {% assign group = nil %}
			</ul>
		</article>
	{% endfor %}
</section>