---
layout: default
title: Tags
---

<section class="tags">
	<article class="tags__cloud">
		<ul>
			{% for i in (1..18) %}
				<li><a href="" title="">Tag {{ i }}</a></li>
			{% endfor %}
		</ul>
	</article>

	{% for i in (1..3) %}
		<article class="tags__item">
			<h2 id="tag-slug" class="tags__item_title">Tag Title</h2>

			<ul class="tags__item_list">
				{% for i in (1..6) %}
					<li>
						<a href="" title="">
							Post title
							<span>13/12/1970</span>
						</a>
					</li>
				{% endfor %}
			</ul>
		</article>
	{% endfor %}
</section>