.posts {
	width: get($base_width, tablet);
	margin: 0 auto;

	@include flex-container(wrap row);
	@include flex-align(space-between, stretch, center);
	
	&__header {
		font-size: 35px;
		font-weight: bold;
		color: #fff;
		padding-bottom: 20px;
		@include flex(0 0 100%);
	}

	&.projects { padding-top: 60px; }
}