.profile {
	padding: 30px get($base_padding, phone) / 2 0px;

	@include min-tablet {
		padding: 30px get($base_padding, tablet) / 2 0px;
	}

	p {
		font-size: 20px;
		display: block;
		padding-bottom: 20px;
		color: $gray_post;
		line-height: 130%;
	}

	&__links {
		padding-top: 20px;
		li {
			display: inline-block;
			padding-right: 10px;

			a {
				svg {
					height: 50px;
					width: 40px;
				}
			}
		}
	}
}