$sep: 3px;

.about {
	@include fc(wrap row);
	@include jc(center);
	height: auto;
	padding: 2rem;

	article { 
		// &:not(.about__sep) { padding-top: 3rem; }
		@include fx(0 0 100%);
		margin: 0 100%;

		@media screen and (min-width: 960px) {
			@include fxb(50%);
		}
	}

	&__sep { 
		height: 3px;
		margin: 2rem auto !important;
		background-color: rgba(#fff, 0.2);
		// display: none;

		@media screen and (min-width: 960px) {
			// display: block;
		}
	}

	&__wrapper {
		&_social {
			padding-top: 1rem;

			li {
				display: inline-block;
				padding-right: 15px;

				a {
					border-bottom: none;
					padding-bottom: 0;

					&:hover {
						border-bottom: none;
						padding-bottom: 0;
					}
				}

				svg {
					width: 35px;
					height: 45px;
					fill: #fff;
				}
			}
		}
	}

	&__projects {
		&_list {
			li {
				// display: inline-block;
				margin-bottom: 1rem;
			}
		}
	}

	a {
		border-bottom: 2px solid rgba(#fff, 0.1);
		padding-bottom: 1px;
		
		&:hover {
			border-bottom: 2px solid rgba(#fff, 0.7);
		}
	}
}