.intro {
	background: $intro center center no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 90vh;

	// clip-path: polygon($l);
	@include fc(wrap row);
	@include fa(center, center, center);

	&__image,
	&__title { display: block; }

	&__image {
		background: url(profile.jpg) center center no-repeat;
		background-size: cover;
		border-radius: 10rem;
		height: 15rem;
		@include fxb(15rem);
	}

	&__title {
		color: lighten(#363D3F, 33%);
		@include fx(0 0 auto);
		margin: 1.3rem 100% 0;
		text-align: center;
	}
}