// Partials
@import 'partials/shield';

$base_width: (
	tablet: 85%,
	phone: 95%
);

// Theme
@import 'theme/header';
@import 'theme/menu';
@import 'theme/lang';

// Article
@import 'article/content';
@import 'article/share';
@import 'article/related';
@import 'article/comments';

// Home
@import 'home/posts';

// Projects
@import 'projects/projects';

// About
@import 'about/profile';
@import 'about/listing';
@import 'about/contact';