.articles {
    &.talks {
      & > article > ul {
        margin-bottom: 3rem;
      }

      margin-bottom: 3rem;
    }

    &__list {
        time {
            color: rgba(#fff, 0.8) !important;
        }
    }
}
