<footer class="footer">
	<ul class="footer__social">
		<li><a href="https://www.github.com/{{ site.github }}" title="github" target="_blank" icon="github"></a><li>
		<li><a href="https://www.instagram.com/{{ site.instagram }}" title="instagram" target="_blank" icon="instagram"></a><li>
		<li><a href="https://www.spotify.com/{{ site.spotify }}" title="spotify" target="_blank" icon="spotify"></a><li>
		<li><a href="mailto:{{ site.email }}" title="{{ site.email }}" target="_blank" icon="email"></a><li>
	</ul>

	<ul class="footer__links">
		{% for link in site.site_links %}
			<li><a href="{{ site.url }}{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
	
	<p class="footer_copyright">© 2017 - Hernandes</p>
</footer>

<script src="/assets/js/main.js"></script>