<footer class="social_icons">
	<ul class="social_icons_list">
		<li><a href="https://www.github.com/mhernandes" class="flaticon-github" target="_blank"></a></li>
		<li><a href="mailto:midia.matheus@gmail.com" class="flaticon-email" target="_blank"></a></li>
		<li><a href="https://www.facebook.com/mthernandes" class="flaticon-facebook" target="_blank"></a></li>
		<li><a href="https://www.instagram.com/mt_hernandes" class="flaticon-instagram" target="_blank"></a></li>
	</ul>
</footer>
<script src="/assets/js/main.js"></script>