<section id="talk">
    <h2>A little more about me...</h2>
    
    <a href="https://www.instagram.com/devhernandes" target="_blank">
        <ul>
            <li>instagram</li>
            <li class="instagram">@devhernades</li>
        </ul>
    </a>
    
    <a href="https://www.github.com/devmath" target="_blank">
        <ul>
            <li>github</li>
            <li class="github">github.com/devmath</li>
        </ul>
    </a>
    
    <a href="mailto:midia.matheus@gmail.com" target="_blank">
        <ul>
            <li>email</li>
            <li class="email">midia.matheus@gmail.com</li>
        </ul>
    </a>
    
    <a href="https://www.facebook.com/devmath" target="_blank">
        <ul>
            <li>facebook</li>
            <li class="facebook">matheus hernandes</li>
        </ul>
    </a>
</section>

<script src="js/main.js"></script>