<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- FACEBOOK -->
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}/img/posts/{{ page.image }}">
  {% else %}
  <meta property="og:image" content="{{ "/assets/img/blog-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  <meta property="og:description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">

  <!-- GOOGLE -->
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta itemprop="description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if page.image %}
  <meta itemprop="image" content="{{ site.url }}/img/posts/{{ page.image }}">
  {% else %}
  <meta itemprop="image" content="{{ "/assets/img/blog-image.jpg" | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  
  <!-- ANDROID THEME COLOR -->
  <meta name="theme-color" content="{% if page.color %}{{ page.color }}{% else %}{{ '#1056ad' }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/syntax-monokai.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/flaticon.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
