<header class="header">
	<div class="header__wrapper">
		<h1 class="header__wrapper_title" title="">
			{% if page.title %}
				{{ page.title }}
			{% else %}
				{{ site.title }}
			{% endif %}
		</h1>

		<p class="header__wrapper_text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut velit perferendis temporibus, ullam natus molestiae dolores possimus beatae non nobis.
		</p>
	</div>
</header>

<div class="background">
</div>

<script>
	var hd = document.getElementsByClassName('header'),
		h = hd[0].offsetHeight,
		se = document.getElementsByClassName('background');

	se[0].style.height = h + 'px';
</script>