{% if page.image and page.opacity %}
<style>.header__article::after { background-color: rgba(0,0,0, 0.{{ page.opacity }}); }</style>
{% endif %}
<header class="header header__article" {% if page.mode %}mode="{{ page.mode }}"{% endif %}{% if page.color or page.image %}style="{% if page.image %}background-image: url(/assets/img/{{ page.image }}); {% else if page.color %}background-image: url(); background-color: {{ page.color }};{% endif %}"{% endif %}>
	<div class="header__wrapper">
		<h4 class="header__wrapper_subtitle">{{ page.date | date: '%B %d, %Y' }}</h4>
		<h1 class="header__wrapper_title" title="">{{ page.title }}</h1>
		<h3 class="header__wrapper_subtitle">{{ page.intro }}</h3>
	</div>
</header>