<nav class="menu" color="{% if page.color %}{{ page.color }}{% else %}{{ site.color }}{% endif %}">
    <a href="/" class="menu__logo" title="Hernandes">
        <img src="/assets/img/logo.png">
    </a>
    
    <ul class="menu__links">
        <li><a title="Home" href="/">Home</a></li>
        <li><a title="Blog" href="/blog">Blog</a></li>
        <li><a title="About me" href="/about">About me</a></li>
    </ul>

    <a title="Search" href="javascript:void(0);" class="menu__search flaticon-search"></a>
</nav>

<section class="search">
	<article class="search__wrapper">
		<h1>Search</h1>

		<span class="quit flaticon-quit" id="quit-search"></span>

		<input id="search" title="type your search" type="text" placeholder="type your search">

		<ul id="results-container"></ul>
	</article>
</section>