<nav class="menu">
	<ul class="menu__list">
		<li class="menu__list_item">
			<a href="" title="" class="menu__list_item-link">
				home
				<i class="icon-home"></i>
			</a>
		</li>

		<li class="menu__list_item">
			<a href="" title="" class="menu__list_item-link">
				about
				<i class="icon-info"></i>
			</a>
		</li>

		<li class="menu__list_item">
			<a href="" title="" class="menu__list_item-link">
				blog
				<i class="icon-pencil"></i>
			</a>
		</li>

		<li class="menu__list_item">
			<a href="" title="" class="menu__list_item-link">
				search
				<i class="icon-search"></i>
			</a>
		</li>
	</ul>
</nav>

<div class="t"></div>