<nav class="menu">
    <a href="/" class="menu__logo">
        <img src="/assets/img/logo.png">
    </a>
    
    <ul class="menu__links">
        <li><a href="/">Home</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <a href="javascript:void(0);" class="menu__search flaticon-search"></a>
</nav>

<section class="search">
	<article class="search__wrapper">
		<h1>Search</h1>

		<span class="quit flaticon-quit" id="quit-search"></span>

		<input id="search" type="text" placeholder="type your search">

		<ul id="results-container"></ul>
	</article>
</section>