.projects {
	height: auto;
	background: url('/assets/img/office.jpg') left top no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	@include transform(skewY(-1deg));
}

.projects__title {
	width: 100%;
	@include transform(skewY(1deg));

	h1 {
		padding: 35px 35px 15px;
		color: #fff;
	}
}

.projects__wrapper {
	width: 100%;
	overflow: hidden;
	@include flex(nowrap row);
	@include flex-align(flex-start, flex-start, flex-start);
}

.projects__wrapper_item {
	flex: 0 0 calc(100% / 4);
	height: auto;
	background-color: $green;
	padding: 15px;

	h2, p {
		color: #fff;
		@include transform(skewY(1deg));
		padding-bottom: 10px;
	}

	h2 {padding-top: 15px;}
	
	p {padding-bottom: 15px;}

	&--red {background-color: $red;}
	
	&--blue {background-color: $blue;}

	&--yellow {background-color: $yellow;}

	@media screen and (max-width: 900px) {
		flex-basis: (100% / 2);
	}

	@media screen and (max-width: $cellphone) {
		flex-basis: 100%;
	}
}