.icons__home_list {
	@include flex(wrap row);
	@include flex-align(center, center, center);
	padding: 70px 0 50px;

	@media screen and (max-width: 520px) {
		padding-top: 10px;
	}
}

.icons__home_list {
	text-align: center;
	flex: 0 0 auto;

	li {
		display: inline-block;
		padding: 0 10px;

		a {
			color: $gray;

			&:before {
				font-size: 80px;

				@media screen and (max-width: 520px) {
					font-size: 60px;
				}

				@media screen and (max-width: $iphone-six) {
					font-size: 50px;
				}

				@media screen and (max-width: 280px) {
					font-size: 70px;
				}
			}
		}

		@media screen and (max-width: $iphone-six) {
			padding: 0 5px;
		}

		@media screen and (max-width: 280px) {
			display: block;
			padding: 15px 0;

			&:first-child {padding-top: 0;}
			&:last-child {padding-bottom: 0;}
		}
	}
}