// Initial variables

// Font family
$family-page: 'Roboto Condensed';
$family-text: 'Roboto';
$family-gloria: 'Gloria Hallelujah';
$family-type: 'sans-serif';

// Bigger heading tags
$bigger-h1: 38px;

// Font size
$font-size-desktop: 16px;
$font-size-tablet: 17px;
$font-size-cellphone: 18px;

// Some definitions of device widths
$iphone-five: 320px;
$iphone-six: 375px;
$commom-cellphone: 420px;
$cellphone: 560px;
$tiny-tablet: 760px;
$tablet: 960px;
$tiny-desktop: 1024px;
$desktop: 1280px;
$large-desktop: 1366px;

$padding-article: 12px;

$z-index: (
	nav: 3000,
	icon_search: 4000,
	search: 3500,
	projects: 100,
	about__intro: 50
);