// Colors

// Web things
$html: #f16529;
$css: #0270BB;
$scss: #2BA8ED;
$php: #6C7EB7;
$oop: #9AA0C6;
$javascript: #F1BF26;
$jquery: #131B28;
$git: #F34F29;
$mysql: #316072;
$responsive: #52845F;
$linux: #DD8E3A;
$node: #7FBD42;

// Basic
$gray: #333;
$blue: darken(#1056ad, 15%);
$red: darken(#E03E36, 15%);
$green: darken(#57D131, 15%);
$yellow: darken(#ffa500, 15%);
$pink: #FC5185;
$orange: #FF7C38;
$dark-green: darken(#57D131, 15%);