#header-default {
	width: 100%;
	text-align: center;
	height: auto;
	background-color: $blue;//rgba(0,0,0,0.02);

	a:hover {background: none;}
	> a > img {
		width: 170px;
		margin: 20px auto;
	} 

	ul {

		li {
			display: inline-block;
			box-sizing: border-box;
			text-transform: uppercase;
			vertical-align: middle;
			padding: 11px 8px;
			cursor: pointer;


			a {
				font-weight: bold;
				color: #fff;
				font-size: 17px;
				
				&:before {
					content:"<";
				}

				&:after {
					content:">";
				}

				&:hover:before {
					content:"</";					
				}
			}
		}
	}
}