#header-default {
	width: 100%;
	text-align: center;
	height: auto;
	background-color: rgba(0,0,0,0.02);
	margin-bottom: 20px;

	a:hover {background: none;}
	> a > img {
		width: 170px;
		margin: 20px auto;
	} 

	ul {

		li {
			display: inline-block;
			box-sizing: border-box;
			text-transform: uppercase;
			vertical-align: middle;
			padding: 11px 8px;
			cursor: pointer;

			&:hover {
				border-bottom: 2px solid $blue;
			}

			a {
				font-weight: bold;
				color: $blue;
				font-size: 17px;
				
				&:before {
					content:"<";
				}

				&:after {
					content:">";
				}

			}
		}
	}
}