#page {
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 3%;

	h1 {
		color: $red;
		padding: 3% 0%;
	}

	article {
		width: 40%;
		height: auto;
		margin: 1.5% auto;
		display: block;
		box-sizing: border-box;
		background: rgba(0,0,0,0.08);
		color: $blue;

		h2 {
			color: $red;
			font-weight: bold;
			padding-top: 20px;
		}

		h5 {
			color: $red;
			font-weight: bold;
		}

		p {
			padding: 13px;
			font-size: 13.5px;
		}
		
		> a:hover {background: none;}
	}
}