#post {
	width: 100%;
	height: auto;
	padding: 0% 0% 3%;
	
	#header-post {
		padding: 120px 5%;
		background-size: cover;
		background-repeat: no-repeat;

		span {
			h1, h5 {
				color: #fff;
				text-align: center;
			}

			h5 {}
		}
	}

	article {
		color: darken($blue, 10%);
		width: 70%;
		height: auto;
		margin: 0 auto;
		padding: 1% 0%;
		text-align: left;

		h1, h2, h3 {
			padding: 3.5% 0 1%;
			color: $red;
			font-weight: bold;
		}

		img {
			width: 100%;
			display: block;
			box-sizing: border-box;
			padding: 2% 0%;
		}

		p, span {
			font-size: 17px;
			padding: 7px 0;
		}

		a {
			color: $red;
			font-weight: bold;
			border-bottom: 1px solid white;
		}
	}

	#disqus_thread {
		width: 70%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}

	#person {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
		display: block;

		article {
			width: 100%;
			display: block;
			
			h3, p {
				padding: 10px;
				text-align: center;
				font-size: 14px;
			}

			img {
				border-radius: 100px;
				width: 200px;
				height: 200px;
				margin-right: auto;
				margin-left: auto;
			}
		}
	}
}