#projects {
	width: 100%;
	height: auto;
	text-align: center;

	h1 {
		padding: 2% 0%;
		color: $red;
	}

	> section {
		display: flex;
		flex-flow: wrap row;
		justify-content: space-around;
		align-content: space-around;
		align-items: space-around;

		article {
			margin-top: 0%;
			margin-bottom: 2%;
			background-color: rgba(0,0,0,0.1);
			padding: 20px 0;
			flex: 0 0 calc(88% / 3);
			height: auto;

			a button {
				width: 50%;
				height: auto;
				padding: 8px 7px;
				background: $red;
				margin: 10px auto 20px;
				text-transform: uppercase;
				font-weight: bold;
				color: white;
			}

			ul {
				width: 90%;
				padding: 10px 0px;
				margin-right: auto;
				margin-left: auto;
				text-align: center;
				display: block;

				li {
					display: block;
					padding: 7px 0px 3px;

					a {
						display: inline;
						color: $blue;
						h5 {
							display: inline;
							font-weight: 400;
							color: $blue;
							&:before {
								content: " - ";
							}
						}

						&:hover,
						&:hover h5 {
							border-bottom: 1px dashed $red;
							color: $red;
						}

						&:hover h5 {border-bottom: none;}
					}
				}
			}
		}
	}

	/*article {
		width: 70%;
		height: auto;
		margin: 1.5% auto;
		display: block;
		padding-bottom: 30px;
		box-sizing: border-box;
		background: rgba(0,0,0,0.08);
		color: #fff;

		h2 {
			color: $blue;
			padding-top: 20px;
		}

		h5 {color: $blue;}

		p {
			padding: 0 7% 2%;
			font-size: 15px;
			color: $blue;
		}

		a button {
			width: 30%;
			display: block;
			height: auto;
			padding: 8px 7px;
			box-sizing: border-box;
			border: none;
			background: $red;
			margin-right: auto;
			margin-left: auto;
			cursor: pointer;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
		}
	}*/
}