#projects {
	width: 100%;
	height: auto;
	background: url(../img/backa.jpg) no-repeat;
	background-size: cover;
	text-align: center;

	h1 {
		padding: 3% 0% 1%;
		color: #fff;
	}
	
	/*section {
		display: flex;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		article {
			background: rgba(255,255,255,0.1);
			box-sizing: border-box;
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
			color: #fff;
			display: block;
			flex: 1 1 auto;
			margin: 1.5% 0 0%;
			padding-bottom: 2.7% 2.7% 2%;
			text-align: center;

			h2 {
				color: #fff;
				padding: 20px 0px 10px;
			}
			
			> a:hover {background: none;}
			
			&:first-child {margin-right: 15px;}
			&:last-child {margin-left: 15px;}
		}
	}*/

	article {
		background: rgba(255,255,255,0.1);
		box-sizing: border-box;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
		color: #fff;
		display: block;
		width: 60%;
		margin: 5% auto;
		padding-bottom: 2.7% 2.7% 2%;
		text-align: center;

		h2 {
			color: #fff;
			padding: 20px 0px 10px;
		}
		
		> a:hover {background: none;}
	}
}