#series {
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom: 3%;

	h1 {
		padding: 1% 0%;
	}

	section {
		display: flex;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		text-align: center;

		article {
			flex: 1 1 auto;
			padding-bottom: 2.7%;
			margin: 1.5%;
			display: block;
			box-sizing: border-box;
			background: rgba(0,0,0,0.08);
			color: $blue;

			h2 {
				color: $red;
				font-weight: bold;
				padding: 20px 0px 10px;
			}

			ul {
				width: 90%;
				margin-right: auto;
				margin-left: auto;
				text-align: center;
				display: block;

				li {
					display: block;
					padding: 7px 0px 3px;

					a {
						display: inline;
						color: $blue;
						h5 {
							display: inline;
							font-weight: 400;
							color: $blue;
							&:before {
								content: " - ";
							}
						}

						&:hover,
						&:hover h5 {
							border-bottom: 1px dashed $red;
							color: $red;
						}

						&:hover h5 {border-bottom: none;}
					}
				}
			}
			
			> a:hover {background: none;}

			&:first-child {margin-right: 0;}
			&:last-child {margin-left: 0;}
		}
	}
}