.footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: wrap column;
	background-color: $blue;
	
	> p {
		color: #fff;
		flex: 0 0 100%;
		padding: 25px;
		text-align: center;
		width: 100%;
	}
}