.nav {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	padding: 0 2%;
	align-items: center;
	align-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: auto;
	background-color: $gray; // rgba(0,0,0,0.7)

	.icon-menu {display: none;}
	
	.logo > img {
		margin-top: 2px;
		width: 35px;
	}

	ul {
		padding: 14px 0;
		> li {
			display: inline-block;

			> a {
				padding: 0px 13px 12.5px;
				font-size: 18px;
				text-transform: lowercase;
				color: #fff;

				&:hover {
					border-bottom: 1.5px solid #fff;
				}
			}
		}
	}

	span > a {
		color: #fff;
		font-size: 18px;

		&:nth-child(2) {padding: 0 9px;}
	}

	@media screen and (max-width: 900px) {
		flex-flow: wrap row;
		justify-content: space-between;
		padding: 15px 30px;
		
		.logo {
			flex: 0 0 50%;

			> img {
				width: 55px;
			}
		}

		.icon-menu {
			color: #fff;
			flex: 0 0 50%;
			display: block;
			text-align: right;
			font-size: 50px;
		}

		> ul,
		> span {
			flex: 0 0 100%;
			border-top: 1px solid rgba(255,255,255, 0.2);
			display: none;
		}

		> ul {
			text-align: center;
			margin-top: 18px;

			> li {
				display: block;
				padding: 15px 0 0;

				> a {
					font-size: 28px;

					&:hover {border-bottom: none;}
				}

				&:first-child {padding-top: 0;}
			}
		}

		> span {
			text-align: center;
			padding: 19px 0 5px;

			> a {font-size: 33px;}
		}
	}
}

.header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background: url(/img/talk.jpg) center no-repeat fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: #fff;
	padding: 60px 15px 20px;

	h1 {
		font-size: 50px;
		font-weight: 600;
	}
}

.teste {
	width: 100%;
	height: 100vh;
	background: #333;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	
	&:after {
		position: absolute;
		top: 100%;
		width: 0;
		height: 0;
		left: 0;
		border-top: 300px solid red;
		border-left: 0 solid transparent;
		border-right: 1000px solid transparent;
		content: "";
		display: block;
	}
}