.nav {
	display: flex;
	flex-flow: wrap row;
	justify-content: space-between;
	padding: 0 2%;
	align-items: center;
	align-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: auto;
	background-color: $gray; // rgba(0,0,0,0.7)

	//.icon-menu {display: none;}
	
	.icon-menu {
		color: #fff;
		font-size: 18px;
	}

	ul {
		padding: 14px 0;
		> li {
			display: inline-block;

			> a {
				padding: 0px 13px 12.5px;
				font-size: 18px;
				text-transform: lowercase;
				color: #fff;

				&:hover {
					border-bottom: 1.5px solid #fff;
				}

				&[data-tab="blog"]:hover {
					position: relative;
					&:after {
						content: "soon";
						font-size: 13px;
						vertical-align: middle;
						position: absolute;
						background-color: rgba(255,255,255,0.8);
						padding: 6px;
						border-radius: 8px;
						color: rgba(0,0,0,0.7);
						transform: translate(20px, -3px);
					}
				}
			}
		}
	}

	span > a {
		color: #fff;
		font-size: 18px;

		&:nth-child(2) {padding: 0 9px;}
	}

	@media screen and (max-width: 900px) {
		flex-flow: wrap column;
		padding: 15px 0;

		.icon-menu {
			font-size: 50px;
		}
	}
}

.header {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background: url(/img/talk.jpg) center no-repeat fixed;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	color: #fff;
	padding: 60px 0px 20px;

	h1 {
		font-size: 50px;
	}
}