.me {
	width: 100%;
	min-height: 100vh;
	display: flex;
	padding: 30px 0;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: wrap row;
	font-size: 18px;

	> article,
	> div,
	> h1 {
		width: 70%;
		margin-bottom: 1%;
		flex: 0 0 70%;
	}
	
	> h1 {
		text-align: center; 
		font-weight: 300;
		text-transform: uppercase;
		color: #1056ad;
		border-bottom: 2px solid #1056ad;
	}
	
	.about {
		margin: 5% 0;
	}

	> div {
		> h1 {
			text-align: center; 
			font-weight: 300;
			text-transform: uppercase;
			color: #1056ad;
			border-bottom: 2px solid #1056ad;
		}

		.post {
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding: 50px 0;

			> h2 {color: #515151; font-weight: 500;}

			ul {
				padding: 7px 0;

				> li {
					padding: 5px;
					color: #fff;
					font-size: 14px;
					display: inline-block;
					background: #1056ad;
				}
			}

			> a {
				color: #313131;
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.projects {}
}