.me {
	width: 100%;
	height: auto;
	display: flex;
	padding: 30px 0;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: wrap row;
	font-size: 18px;
	border-bottom: 1px solid #919191;

	.about {
		flex: 0 0 70%;
	}
}

.projects {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	border-bottom: 1px solid #919191;
	flex-flow: nowrap row;
	overflow: hidden;

	> .project {
		flex: 0 0 calc(100% / 3);
		height: 100%;
		background: #1056ad;
		transition: all 1s ease 0.1s;

		&:nth-child(2),
		&:nth-child(4) {
			background-color: #990000;
		}
	}
}

.project {transform: translateX(0%);}

.articles {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: wrap row;
	border-bottom: 1px solid #919191;
	padding: 20px 0;

	> h1 {
		flex: 0 0 100%;
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
	}

	> .article {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding: 25px 0;
		flex: 0 0 70%;

		> a {color: #313131;}

		&:last-child {
			border-bottom: 0;
		}
	}
}

.footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-flow: wrap column;
	
	> ul, 
	> p {
		flex: 0 0 100%;
		padding: 25px;
		color: #fff;
	}

	> ul {
		width: 100%;
		text-align: center;
		background-color: rgba(0,0,0,0.5);
		> li {
			display: inline-block;
			padding: 0px 13px;

			> a {color: #fff}
		}
	}

	> p {
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		text-align: center;
	}
}

/*

> article,
	> div,
	> h1 {
		width: 70%;
		margin-bottom: 1%;
		flex: 0 0 70%;
	}
	
	> h1 {
		text-align: center; 
		font-weight: 300;
		text-transform: uppercase;
		color: #1056ad;
		border-bottom: 2px solid #1056ad;
	}
	
	.about {
		margin: 5% 0;
	}

	> section {
		> h1 {
			text-align: center; 
			font-weight: 300;
			text-transform: uppercase;
			color: #1056ad;
			border-bottom: 2px solid #1056ad;
		}

		.post {
			border-bottom: 1px solid rgba(0, 0, 0, 0.2);
			padding: 50px 0;

			> h2 {color: #515151; font-weight: 500;}

			ul {
				padding: 7px 0;

				> li {
					padding: 5px;
					color: inherit;
					background: rgba(0,0,0,0.1);
					font-size: 14px;
					display: inline-block;
				}
			}

			> a {
				color: #313131;
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	}

	.projects {}

	*/