.post {
	width: 100%;
	height: auto;
	//background-color: $blue;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	padding: 6% 0;
	flex-flow: wrap row;
	font-size: 18px;
	color: $gray;

	article {
		flex: 0 0 70%;
	}

	.comments {
		padding: 0 30px;
		margin-top: -100px;
	}
}

.post-content {
	padding: 30px 0;
	border: 1px solid rgba(0,0,0,0.1);
	transform: translateY(-180px);
	margin-top: 20px;
	color: $gray;
	background-color: #fff;

	> p {
		padding: 0 30px 18px;
		font-size: 20px;
		
		&:last-child {padding-bottom: 0;}

		> em > a,
		> em:visited > a,
		> em:active > a,
		> a,
		> a:visited,
		> a:active {
			color: darken($blue, 15%);
			
			&:hover {
				border-bottom: 1px solid $blue;
			}
		}

		strong {
			font-weight: bold;
		}
	}
	
	blockquote {
		padding: 25px 0 25px 40px;
		margin: 5px 30px 20px;
		border-left: 6px solid rgba(0,0,0,0.2);
		vertical-align: middle;

		> p {
			color: rgba(0,0,0,0.7);
			vertical-align: middle;
			font-style: italic;

			> em > a,
			> em:visited > a,
			> em:active > a,
			> a,
			> a:visited,
			> a:active {
				color: darken($green, 15%);
				
				&:hover {
					border-bottom: 1px solid  $gray;
				}
			}
		}
	}


	h3 {padding: 0 30px;}
	h1, h2 {padding: 40px 30px 15px;}

	hr {
		border-top: 2px solid rgba(0,0,0,0.1);
		padding: 25px 0 15px;
		margin-top: 25px;
	}

	ol {
		padding: 0 30px 0 50px;

		> li {
			padding: 1px 0;

			> em > a,
			> em:visited > a,
			> em:active > a,
			> a,
			> a:visited,
			> a:active {
				color: darken($blue, 15%);
				
				&:hover {
					border-bottom: 1px solid  $blue;
				}
			}
		}
	}

	img {
		width: 100%;
		height: auto;
		padding: 10px 0;
	}

	@media screen and (max-width: 550px) {
		flex-basis: 90%;
	}
}