.header {
	background-image: url(/assets/image/standard.jpg);
	background-size: cover;
	background-position: center center;
	color: #fff;
	height: 100vh;
	@include z(header);
	text-align: center;
	position: relative;

	&__wrapper {
		position: absolute;
		width: 100%;
		height: 100%;
		@include z(header_wrap);
		@include fc(wrap row);
		@include fa(center, center, center);

		div {
			width: 170px;
			height: 170px;
			background: url(/assets/image/profile.jpg) center 75% no-repeat;
			background-size: 110% 110%;
			border-radius: 100%;
			border: 5px solid rgba(#000, 0.5);
		}

		h1 {
			@include fx(0 0 100%);
			font-size: 45px;
			line-height: 60px;
			text-shadow: -3px 3px rgba(#000, 0.5);
			
			@include min-tablet {
				font-size: 60px;
			}
		}

		p {
			padding: 10px 0 5px;
			font-size: 20px;
		}
	}

	&::after {
		background-color: rgba(#000, 0.5);
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 3;
		@include z(header_bg);
	}
}

@-webkit-keyframes idk {
	0% { @include trf(translateY(15px)); }
	50% { @include trf(translateY(0)); }
	100% { @include trf(translateY(15px)); }
}
@-o-keyframes idk {
	0% { @include trf(translateY(15px)); }
	50% { @include trf(translateY(0)); }
	100% { @include trf(translateY(15px)); }
}
@-moz-keyframes idk {
	0% { @include trf(translateY(15px)); }
	50% { @include trf(translateY(0)); }
	100% { @include trf(translateY(15px)); }
}
@keyframes idk {
	0% { @include trf(translateY(15px)); }
	50% { @include trf(translateY(0)); }
	100% { @include trf(translateY(15px)); }
}
