.header {
	width: 100%;
	height: auto;
	@include flex-container(wrap row);
	@include flex-align(center, flex-start, flex-start);
	@include z(base);

	&__wrapper {
		@include fx(0 0 get($base_width, phone));

		&_title,
		&_subtitle,
		&_text {
			color: #fff;
		}

		&_title {
			padding: 10% 0 0;
			font-size: 50px;
			font-weight: 800;
			position: relative;
			@include z(header);
		}

		&_text {
			padding-top: 2%;
			padding-bottom: 18%;
			padding-right: 50%;
			//max-width: 40%;
			@include font-size(phone);
		}

		@include min-tablet {
			@include fxb(get($base_width, tablet));
		}
	}
}

.background {
	background-size: cover;
	background: $blue url('/assets/img/standard.jpg') center no-repeat;
	clip-path: polygon(0 0, 100% 0%, 100% 80%, 30% 95%, 0% 85%);
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	@include z(bg);

	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.1);
	}
}