.menu {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	//background: transparent url(/assets/img/standard.jpg) 0 0 no-repeat;
	//background-size: 100% 100vh;
	//background-image: initial;
	background-color: rgba($gray, 1);
	padding: 0 100% - get($base_width, phone) - 5%;
	@include flex-container(wrap row);
	@include jc(space-between);
	@include z(nav);

	@include min-tablet {
		$v: 100% - get($base_width, tablet);
		padding: 0 $v / 2;
	}

	&__logo,
	&__links {
		display: block;
	}

	&__logo {
		text-align: left;
		font-size: 25px;
		font-weight: bold;
		color: #fff;
		padding: 12px 0;
	}

	&__links {
		text-align: right;

		li {
			display: inline-block;

			a {
				color: #fff;
				display: block;
				padding: 18px 20px 20px;
				@include fz(phone);

				&:last-child { padding-right: 0; }
			}
		}
	}

	&--article {
		//position: absolute;
	}
}