.menu {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	@include z(nav);

	ul {
		width: get($base_width, phone);
		margin: 0 auto;
		text-align: right;

		@include min-tablet {
			width: get($base_width, tablet);
		}

		li {
			display: inline-block;

			a {
				color: #fff;
				display: block;
				padding: 20px;
				@include fz(phone);

				&:last-child { padding-right: 0; }
			}
		}
	}
}