// Default variables

// @TODO: add modular-scale support with placeholders

$modular-scale-base: 16;
$modular-scale-fill: 95;
$modular-scale-ratio: 2;

$header-sizes: (
	h1: 2rem,
	h2: 1.75rem,
	h3: 1.5rem,
	h4: 1.25rem,
	h5: 1rem
);

$base: 1rem;

$z-index: (base: 0);

$devices: (
	phone: 760px,
	tablet: 1024px,
	desktop: 1280px,
	laptop: 1366px
);

// Set list-style-type: none to <ul>s?
$list-none: true;

// Disable resize on input, textarea and buttons?
$disable-resize: false;