.projects {

	h2 {
		text-align: center;
		padding: 15px;
	}

	&__list {
		width: get($base_width, phone);
		margin: 30px auto;
		list-style-type: disc;
		padding-left: 22px;
		@include min-phone { width: 60%; }

		li {
			padding: 12px 0;

			a {
				color: $gray_post;
				display: inline;

				&:hover { border-bottom: 2px solid $gray_post; }
			}

			@include min-phone { padding: 8px 0; }
		}
	}
}