---
layout: default-pt
title: "criado para criar"
image: "home.jpg"
head-title: "Hernandes"
idiom: pt-br
---

<main class="me">
	<article class="about">
		<p>
			Oi. Me chamo Matheus, sou um desenvolvedor e um eterno aprendiz. <br>
		</p>
	</article>
</main>

<section class="articles">
	<h1>projetos</h1>
	
	{% for post in site.posts %}
		{% if post.type == 'project' %}
			{% if post.idiom == 'pt-br' %}
				<article class="article">
					<a href="{{ post.url | prepend: site.baseurl }}">
						<h1>{{ post.title }}</h1>
					</a>
				</article>
			{% endif %}	
		{% endif %}
	{% endfor %}
</section>

<section class="articles">
	<h1>artigos</h1>
	
	{% for post in site.posts %}
		{% if post.type == 'article' %}
			{% if post.idiom == 'pt-br' %}
				<article class="article">
					<a href="{{ post.url | prepend: site.baseurl }}">
						<h1>{{ post.title }}</h1>
					</a>
				</article>
			{% endif %}		
		{% endif %}
	{% endfor %}
</section>