.about__contact {
	padding-top: 30px;
	padding-bottom: 60px;
	@include fc(wrap row);
	@include jc(space-between);

	a {
		display: inline-block;
		@include fx(0 0 100%);
		padding: 30px 0;
		text-align: center;
		background-color: #1056ad;
		color: #fff;

		svg {
			display: block;
			margin: 0 auto;
			width: 20%;
			height: 30px;
			margin-bottom: 5px;
			fill: #fff;
		}

		span {
			font-size: 15px;
			@include ff(headers);
		}

		&:hover {
			background-color: darken($blue, 10%);
		}

		@include min-phone {
			@include fxb(25%);
		}
	}
}