.about__skills {
	@include flex(wrap row);

	&_list {
		width: 100%;
		list-style-type: disc;
		padding-left: 25px;

		li {
			display: block;
			padding: 10px 0;
			font-size: $font-size-tablet;
		}
	}
}