/*.about__content {
	h1, p {color: $gray;}

	h1 {padding: 15px 0;}

	p {
		padding: 7px 0 12px;
		
		&:last-child {padding-bottom: 0;}
	}

	@media screen and (max-width: $tablet) {
		flex-basis: 95%;
	}
}

.about__knowledge {
	padding-top: 40px;

	h1 {color: $green;}

	ul {
		padding-left: 20px;
		padding: 10px;

		li {
			font-size: 20px;
			padding: 7px 0;
		}
	}
}*/