.about {
	@include flex(wrap row);
	@include flex-align(space-around, flex-start, flex-start);
	//padding: 40px 0;
}

.about__piece {
	flex: 0 0 50%;
	height: 200px;
	background-color: $blue;
	text-align: center;
	color: #fff;
	border: 1px solid rgba(#000, 0.5);

	&:nth-child(1),
	&:nth-child(3),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(11),
	&:nth-child(12) {
		background-color: $red;
		flex-basis: 25%;
	}

	&[sizer="two-four"] {flex-basis: 25%;}
	&[sizer="half"] {flex-basis: 50%;}
}