.about__modal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	overflow-y: scroll;
	background-color: rgba(#000, 0.9);

	&_content {
		display: none;
		width: 80%;
		margin: 15px auto;
		height: auto;
		padding-top: 8px;
		top: 0;
		left: 0;
		background-color: mix(#fff, #000, 90%);

		h1, h2, h3, p { padding: 6px 15px; }
	
		img { 
			padding: 15px 0 0;
			width: 100%; 
		}

		&[image="on"] {
			background-color: transparent;
			height: calc(100vh - 30px);
			padding-top: 0;

			img {
				height: 100%;
				padding: 0;
				margin: 0 auto;
				display: block;
				width: auto;
			}			
		}

		&[what="life_summary"] {
			padding-bottom: 5px;

			a { color: $blue; }
		}

		&[what="knowledge"] ul {
			padding: 15px;

			li { font-size: 18px; }
		}

		@media screen and (max-width: 960px) {
			width: 100%;
			margin: 0 auto;
		}
	}
}

.about__modal_quit {
	position: absolute;
	z-index: 99;
	right: 0;
	//margin-right: 20%;
	//right: 0;
	margin: 20px;
	text-align: right;
	//padding: 15px;
	display: block;

	&::before {
		font-size: 20px;
		color: #fff;
		content: "\f107";
		font-family: Flaticon;

		@media screen and (max-width: 960px) {
			color: $gray;
		}
	}
}