$post-color: (
	blue: #70A1D7,
	yellow: #D6BA32,
	red: #F23557,
	green: #69DE92,
	bluegreen: #316072,
	linux: #52845F,
	purple: #834496,
	pink: #F02A71,
	orange: #FF5722
);

$category_color: (
	php: purple,
	mysql: bluegreen,
	html: orange,
	html5: orange,
	css: blue,
	css3: blue,
	scss: blue,
	sass: blue,
	js: yellow,
	javascript: yellow,
	git: red,
	linux: linux
);

@mixin post-color() {
	@each $key, $val in $category_color {
		&[category="#{$key}"] {
			.posts__item_thumb { color: get($post-color, $val); }
		}
	}
}

@mixin article-color() {
	@each $key, $val in $category_color {
		&[category="#{$key}"] {
			> article {
				> h1, > h2, > h3, > h4,
				> a, > p a { color: get($post-color, $val); }
				> a, > p a { border-bottom-color: get($post-color, $val); }
			}
		}
	}
}

@mixin top-button-color() {
	@each $key, $val in $category_color {
		&[category="#{$key}"] {
			background-color: get($post-color, $val);
		}
	}
}