$post-color: (
	black: #171213,
	gray: #394648,
	red: #A33338,
	yellow: darken(#E6AF66, 5%),
	green: #8AA64F,
	blue: #5A8FAA,
	orange: #F4442E
);

$post-category: (
	js: yellow,
	javascript: yellow,
	dev: gray,
	linux: black,
	css: blue,
	scss: blue,
	ui: red,
	ux: red,
	android: green,
	kotlin: orange,
	git: orange
);

@mixin category-colorful($type: 'post') {
	@each $key, $val in $post-category {
		@if $type == 'post' {
			&[data-category="#{$key}"] {
				.posts__item_title:hover { color: get($post-color, $val); }
			}
		} @else {
			&[data-category="#{$key}"] {
				a {
					box-shadow: inset 0 -4px 0 0 lighten(get($post-color, $val), 3%);

					&:hover {
						box-shadow: inset 0 -10px 0 0 lighten(get($post-color, $val), 3%) !important;
					}
				}
				
				h1, h2, h3, h4, h5 {
					color: get($post-color, $val);

					a { color: get($post-color, $val); }
				}
			}
		}
	}
}

@mixin share-colorful() {
	@each $key, $val in $post-category {
		&[data-category="#{$key}"] {
			a:hover svg { fill: get($post-color, $val) }
		}
	}
}