.footer {
	text-align: center;
	background-color: $blue;
	-webkit-clip-path: polygon(0% 30%, 50% 0, 100% 30%, 100% 100%, 0 100%);
	clip-path: polygon(0% 30%, 50% 0, 100% 30%, 100% 100%, 0 100%);
	padding: 70px 0;

	a, p {
		color: #fff;
		font-size: 17px;
	}

	ul {
		li {
			display: inline-block;
			padding: 10px 9px;
		}
	}

	&__social {
		a {
			font-size: 33px;

			&[icon="github"] { @extend .icon-github; }
			&[icon="spotify"] { @extend .icon-spotify; }
			&[icon="email"] { @extend .icon-mail; }
			&[icon="instagram"] { @extend .icon-instagram; }
			&[icon="facebook"] { @extend .icon-facebook; }
			&[icon="twitter"] { @extend .icon-twitter; }
		}
	}

	&_copyright { padding-top: 10px; }

	@media screen and (max-width: 760px) {
		-webkit-clip-path: polygon(0% 15%, 50% 0, 100% 15%, 100% 100%, 0 100%);
		clip-path: polygon(0% 15%, 50% 0, 100% 15%, 100% 100%, 0 100%);
		padding: 40px 0 80px;
	}
}