.header {
	width: 100%;
	height: 70vh;
	background: $blue url('/assets/img/home.jpg') center no-repeat;
	background-size: cover;
	overflow: hidden;
	@include flex(wrap row);
	@include flex-align(center, center, center);

	&__wrapper {
		flex: 0 0 60%;
		z-index: 2;

		&_title,
		&_subtitle {
			color: #fff;
		}

		&_title {
			font-size: 40px;
			font-weight: 700;
		}

		@media screen and (max-width: 760px) {
			flex-basis: 90% !important;
		}
	}

	&::after {
		content: "";
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 70vh;
		background-color: rgba(#000, 0.7);
	}

	&[mode='diagonal'] {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 86%, 0% 100%);
	}
}