.menu {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	@include flex(wrap row);
	@include flex-align(flex-start, flex-start, flex-start);
	background-color: $gray;
	z-index: map-get($z-index, nav);

	&__list,
	&__search,
	&__icon { flex: 0 0 auto; }

	&__list {
		order: 1;
		width: auto;
		height: auto;
		background-color: $gray;
		margin-left: -229px;
		padding-left: 20px;
		text-align: right;
		transition: all 0.4s ease 0.01s;
		padding: 0 0 0 20px;

		li {
			display: inline-block;
			padding: 0 7px;

			a { 
				display: block;
				color: #fff;
				padding: 14px 7px;
				font-size: 16px;

				i {
					text-align: center;
					font-size: 18px;
					vertical-align: middle;
					display: block;
					padding-bottom: 5px;
				}
			}

			@media screen and (max-width: 760px) {
				/*padding: 25px 7px;

				a {
					padding-right: 0;
					padding-left: 0;
				}

				a::after {
					display: block;
					padding-top: 10px;
					font-size: 20px;
				}

				&:first-child a::after {
					content: "home";
				}

				&:nth-child(2) a::after {
					content: "about";
				}

				&:last-child a::after {
					content: "blog";
				}*/
			}
		}
	}

	.active {
		margin-left: 0;
		transition: all 0.4s ease 0.01s;

		@media screen and (max-width: 760px) {
			margin-top: 0 !important;
		}
	}

	&__icon {
		order: 2;
		@extend .icon-menu;
		font-size: 30px;
		color: #fff;
		padding: 20px 30px;

		@media screen and (max-width: 760px) {
			padding: 20px 22px;
			font-size: 35px;
		}
	}

	&__search {
		@extend .icon-search;
		@extend .menu__icon;
		order: 3;
		margin-left: auto;
		z-index: map-get($z-index, icon_search);
	}
}