.search {
	width: 100%;
	height: 100vh;
	background-color: rgba(#000, 0.9);
	position: fixed;
	z-index: map-get($z-index, search);
	top: 0;
	left: 0;
	margin-top: -100vh;
	transition: all 0.4s ease 0.01s;
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);

	&__form {
		flex: 0 0 60%;
		margin-top: 90px;

		&_title {
			width: 100%;
			color: #fff;
			@extend h1;

			> a {
				color: #fff;
				font-weight: bold;
				//font-style: italic;
			}
		}

		&_input {
			background-color: transparent;
			border: none;
			border-bottom: 1px solid  #fff;
			color: #fff;
			font-size: 20px;
			margin-top: 30px;
			width: 100%;
			display: block;
			padding: 15px;
			outline: none;

			&::-webkit-input-placeholder,
			&::-moz-placeholder,
			&:-ms-input-placeholder,
			&:-moz-placeholder { color: #fff; }
		}

		@media screen and (max-width: 760px) {
			flex-basis: 85%;
			margin-top: 30px;
		}

		&_results {
			width: 100%;
			padding: 20px 0;
			overflow-x: hidden;
			height: 55%;

			> li {
				padding: 20px 0 5px;
				border-bottom: 1px solid rgba(#fff, 0.5);

				a {
					color: #fff;
					font-size: 18px;
				}
			}
		}
	}
}