.highlight {
	padding: 20px 0 40px;

	pre {
		width: 100%;
		background: #323232;
		
		code { 
			width: 100%;
			margin: 0 auto;
			padding: 25px 0;
			color: #fff;
			font-size: 17px;
			text-align: left;
			display: block; 
			white-space: pre-wrap;
			word-wrap: break-word;
			overflow-x: auto;
			
			@media screen and (min-width: 1024px) {
				transform: translateX(-30px);
				width: 80%;
			}
		}
	}

	@media screen and (max-width: 760px) {
		width: 100% !important;

		pre code {
			margin: 0 !important;
			padding: 25px 5%;
		}
	}
}