$padding_mobile: (100% - get($base_width, phone)) / 2;
$padding: (100% - get($base_width, tablet)) / 2;

.article {
	@include fc(wrap row);
	@include jc(center);

	> article {
		background-color: #fff;
		@include fx(0 0 100%);
		
		&:not(.article__related) {
			> h1, > h2, > h3, > h4 {
				font-weight: bold;
				color: $gray;
			}
		}

		&:not(.article__content) {
			padding: 0 $padding_mobile;
	
			> h1, > h2, > h3, > h4 {
				padding: 40px 0 15px;
			}

			@include min-tablet {
				padding: 0 $padding;
			}
		}
	}

	@include article-color();
}

.to_top {
	position: fixed;
	display: none;
	left: 0;
	bottom: 0;
	margin: 15px;
	padding: 7px 15px;
	color: #fff;
	background-color: rgba($blue, 0.5);
	
	@include fz(tablet);
	@include top-button-color();
	@include min-tablet {
		display: block;
	}
}