$padding: (
	desktop: 15%,
	phone: 2.5%
);
.article {
	@include fc(wrap row);
	@include jc(center);

	&__content {
		@include fx(0 0 100%);
		padding-top: 60px;

		h1, h2, h3, h4, h5,
		p, blockquote, ol, ul {
			color: $gray_post;
			padding-right: get($padding, phone);
			padding-left: get($padding, phone);

			@include min-phone {
				padding-right: get($padding, desktop);
				padding-left: get($padding, desktop);
			}
		}

		a {
			box-shadow: inset 0 -4px 0 0 lighten($gray_post, 50%);
			color: $gray_post;
			@include trs(all 0.1s linear 0.01s);

			&:hover { box-shadow: inset 0 -10px 0 0 lighten($gray_post, 50%) !important; }
		}

		h1, h2, h3, h4, h5 {
			padding-top: 45px;
			padding-bottom: 15px;

			&:first-child { padding-top: 0; }

			a {
				color: $gray_post;
				font-weight: bold;
				@include ff(headers);
			}
		}

		h1 { font-size: 38px; }

		p, li { font-weight: 300; }

		p {
			padding-top: 15px;
			padding-bottom: 5px;

			img {
				display: block;
				width: auto;
				height: auto;
				margin: 0 auto;
				text-align: center;
			}

			a { display: inline; }
		}

		ol, ul {
			padding-right: get($padding, phone);
			padding-left: get($padding, phone);
			margin-left: 20px;

			@include min-phone {
				padding-right: get($padding, desktop);
				padding-left: get($padding, desktop);
			}
		}

		li { padding-bottom: 6px; } 

		@include category-colorful(content);
	}
}