.article__content {
	padding: 0;
	color: $gray;
	
	h1, h2, h3, h4 {
		padding: 50px $padding_mobile 10px;

		a {	font-weight: bold; }
	}

	p, a, li, blockquote { @include fz(phone); }

	p, ol { padding: 10px $padding_mobile 5px; }

	ol {
		list-style-type: disc;
		padding-left: (103% - get($base_width, phone)) / 2;
		
		li {
			padding-bottom: 7px;

			&:last-child { padding-bottom: 0; }
		}
	}

	a {
		border-bottom: 2px dashed $gray;
		color: $gray;
	}

	p img {
		width: 100%;
		height: auto;
	}

	@include min-tablet {
		h1, h2, h3, h4,
		p, ol {
			padding-left: $padding;
			padding-right: $padding;
		}

		ol {
			padding-left: (103% - get($base_width, tablet)) / 2;
		}
	}
}