.article__share {
	padding: 0 $padding_mobile;

	ul {
		li {
			display: inline-block;
			padding-right: 15px;
			@include fz(phone);

			a {
				border-bottom: 2px dashed $gray;
				color: $gray;
			}
		}
	}

	@include min-tablet { padding: 0 $padding; }
}