.article__share {
	padding: 60px get($base_padding, phone);

	@include min-phone {
		padding: 60px get($base_padding, tablet);
	}

	a {
		svg {
			width: 60px;
			height: 75px;
			fill: $gray_post;
			@include trs(all 0.1s linear 0.01s);
		}

		&:nth-child(2) { padding: 0 30px; }
	}

	@include share-colorful();
}