.highlight {
	padding: 20px 0;

	pre {
		width: 100%;
		background: #323232;
		
		code { 
			width: 100%;
			margin: 0 auto;
			padding: 25px 0;
			color: #fff;
			font-size: 17px;
			text-align: left;
			display: block; 
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
			overflow-x: auto;
			width: get($base_width, phone);
		}
	}

	@media screen and (max-width: 760px) {
		width: 100% !important;

		pre code {
			margin: 0 !important;
			padding: 25px 5%;
		}
	}
}