.article {
	@include flex(wrap row);
	@include flex-align(center, center, center);

	article {
		background-color: rgba($blue, 0.04);
		flex: 0 0 80%;
	}
}

.article__content {
	//flex-basis: 80% !important;

	h1, h2, h3,
	> p, blockquote,
	ul, ol {
		padding: 16px;
	}

	blockquote {
		margin: 16px;
		font-style: italic;
		color: $green;
		border-top: 4px solid rgba($green, 0.3);
		border-bottom: 4px solid rgba($green, 0.3);
	}

	h1, h2, h3 { 
		padding: 45px 16px 0;
		
		&:first-child { padding-top: 14px; }
	}

	img, pre { 
		width: 100%;
		height: auto;
	}

	strong { font-weight: bold; }

	a {
		&::after {
			font-family: Flaticon;
			content: $icon-link;
			padding-left: 4px;
			font-weight: normal;
		}

		&:hover { border-bottom: 1px dashed $blue; }
	}

	ol { padding: 10px 35px 0; }
}