#talk {
	padding: 3%;
	height: auto;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/talk.jpg);

	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: flex-start;
	flex-flow: wrap row;

	> h2 {
		flex: 0 0 100%;
		font-family: 'Gloria Hallelujah', cursive;
	}

	> a {
		flex: 0 0 calc((100% - 4px) / 3);
		color: #fff;
		height: auto;
		text-transform: uppercase;
		text-align: center;
		overflow: hidden;
		position: relative;
		margin-bottom: 2px;
		
		> ul {
			width: 100%;
			height: auto;

			> li {
				padding: 15px 0;
				width: 100%;
				background-image: none;
				background-color: rgba(0,0,0,0.5);
				transition: all .2s ease .1s;

				&:last-child {position: absolute;}
			}
		}

		&:nth-child(5),
		&:nth-child(6) {
			flex-basis: calc((100% - 2px) / 2);
		}

		&:hover > ul > li {
			transition: all .2s ease .1s;
			transform: translateY(-49px);

			&.spotify {font-weight: 400;background-color: rgba(22,202,85,0.5);}
			&.instagram {font-weight: 400;background-color: rgba(166,116,65,0.5);}
			&.twitter {font-weight: 400;background-color: rgba(42,169,224,0.5);}
			&.github {font-weight: 400;background-color: rgba(75,75,75,0.5);}
			&.email {font-weight: 400;background-color: rgba(206,0,1,0.5);}
			&.facebook {font-weight: 400;background-color: rgba(76,101,160,0.5);}
			&.stack-overflow {font-weight: 400;background-color: rgba(255,165,0,0.5);}
			&.snapchat {font-weight: 400;background-color: rgba(239,226,0,0.5);}
		}
	}
}