.posts__button {
	flex: 0 0 20%;
	margin: 0 40% 50px;
	text-align: center;
	display: block;

	button {
		background-color: $gray;
		color: #fff;
		font-size: 18px;
		border-bottom: 7px solid rgba(#000, 0.5);
		text-transform: lowercase;
		width: 100%;
		padding: 15px 0;

		&:active {
			border-bottom: 4px solid rgba(#000, 0.5);
		}
	}

	@media screen and (max-width: 1024px) {
		flex-basis: 30% !important;
		margin: 0 35% 50px;
	}

	@media screen and (max-width: 760px) {
		flex-basis: 100% !important;
		margin: 0 0 50px;
	}
}