.posts {
	@include flex(wrap row);
	@include flex-align(space-between, flex-start, center);

	&__header {
		flex: 0 0 100%;
		text-align: center;

		h1 {
			padding: 30px 0;
			font-style: italic;
		}
	}

	&__item {
		flex: 0 1 calc(89% / 3);
		min-height: 300px;
		margin-bottom: 30px;
		padding: 20px;
		background-color: map-get($post-color, yellow);
		@include flex(wrap column);

		div {
			//flex: 1;

			/*&:nth-child(2) {
				flex: 2 1 auto;
				display: flex;
				align-items: center;
			}*/

			a {
				//font-size: 20px;
				color: #fff;
				font-family: $family-page, sans-serif;
				text-transform: uppercase;
				font-weight: bold;
				padding-bottom: 3px;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&_category {
			a {
				color: #3E4149 !important;
				font-size: 20px;
			}
		}

		&_title {
			flex: 2 1 auto !important;
			display: flex;
			align-items: center;

			a {
				font-size: 24px;
			}
		}

		&_date {
			//color: #fff;
			color: #3E4149;
			font-family: $family-page, sans-serif;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 15px;
		}
	}
}