{{ define "main" }}

    {{ $options := (dict "targetPath" "hnds.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/zines.scss" | resources.ToCSS $options | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <main class="zines">
        <h1 class="zines__title">{{ .Title }}</h1>

        {{ if .Content }}
            <div class="zines__content">{{ .Content }}</div>
        {{ end }}

        <div class="zines__gallery">
            <ul class="zines__list">
                {{ range where .Pages "Section" "zines" }}
                    <li class="zines__item">
                        <a href="{{.Permalink}}">
                          <img src="{{.Params.cover}}" alt="{{.Params.coverAlt}}"/>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
