{{ define "main" }}
    {{ $options := (dict "targetPath" "hnds.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "scss/zines.scss" | resources.ToCSS $options | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <main class="zines {{ with .Params.comingsoon }}zines--comingsoon{{end}}">
        <h1 class="zines__title">{{ .Title }}</h1>
        {{ with .Params.comingsoon }}
          <span class="zines__comingsoon">Coming soon!</span>
        {{ else }}
          <ul class="zines__list">
              {{ range .Pages }}
                  <li class="zines__item">
                      <a class="zines__link" href="{{.Permalink}}">
                        <img class="zines__image" src="/images/zines/{{.Params.zine}}/{{.Params.thumbnail}}" alt="{{.Params.thumbnailAlt}}"/>
                        <span class="zines__content">
                          <h4>{{ .Title }}</h4>
                          <p>{{ .Description }}</p>
                        </span>
                      </a>
                  </li>
              {{ end }}
          </ul>

          <h2 class="faq__title">Detalhes</h2>

          <ul class="faq">
            {{ range $faq := $.Site.Data.faq }}
              <li class="faq__item">
                <h3 class="faq__question">{{ $faq.question }}</h3>
                <p class="faq__response">{{ $faq.response | markdownify }}</p>
              </li>
            {{ end }}
          </ul>
        {{end}}
    </main>
{{ end }}
