<html>
	{% include head.html %}
<body class="article-body">
	{% include header-article.html %}
	{% include menu.html %}
	
	<section class="article" {% if page.category %}category="{{ page.category }}"{% endif %}>
		<article class="article__content" {% if page.category %}category="{{ page.category }}"{% endif %}>
			{{ content }}
		</article>

		<article class="article__related">
		</article>

		<article class="article__comments">
			{% include comments.html %}
		</article>
	</section>

	{% include footer.html %}
</body>
</html>