<html>
	{% include head.html %}
<body class="article-body">
	{% include header-article.html %}
	{% include menu.html %}
	
	<section class="article" {% if page.category %}category="{{ page.category }}"{% endif %}>
		<article class="article__content" {% if page.category %}category="{{ page.category }}"{% endif %}>
			{{ content }}
		</article>

		<article class="article__share">
			<h2 class="article__share_title">Compartilhe</h2>
			<ul class="article__share_list">
				<li><a href="https://twitter.com/intent/tweet?text=&quot;{% if page.twitter_text %}{{ page.twitter_text }}{% else %}{{ page.intro }}{% endif %}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.twitter }}&hashtags={% for tag in page.tags %}{{tag}},{% endfor %}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title="Compartilhe no Twitter" icon="twitter"></a></li>
				<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title="Compartilhe no Facebook" icon="facebook"></a></li>
			</ul>
		</article>

		<article class="article__related">
			<h2>Related Posts</h2>
			
			{% for related in site.related_posts limit:3 %}
				<article class="posts__item" category="{{ related.category }}">
					<div class="posts__item_category">
						<a href="{{ site.url | append: '/category#' | append: related.category }}">
							{{ related.category }}
						</a>
					</div>

					<div class="posts__item_title">
						<a href="{{ related.url | prepend: site.url }}">
							{{ related.title | truncatewords: 10 }}
						</a>
					</div>

					<div class="posts__item_date">
						{{ related.date | date: '%B %d, %Y' }}
					</div>
				</article>
			{% endfor %}
		</article>

		<article class="article__comments">
			{% include comments.html %}
		</article>
	</section>

	{% include footer.html %}
</body>
</html>