.tags__cloud {
	ul {
		width: 50%;
		height: auto;
		margin: 0 auto;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 5px 25px;

			a {
				border: 1px dashed $gray;
				border-radius: 5px;
				color: $gray;
				font-size: $font-size-cellphone;
				padding: 6px 10px;
			}
		}


		@media screen and (max-width: 1024px) { flex-basis: 70% !important; }
		@media screen and (max-width: 760px) { flex-basis: 90% !important; }
	}
}