.tags__item {
	padding: 10px 0 50px;

	&_title {
		@extend h1;
		padding-bottom: 10px;
	}

	&_list {
		width: 100%;

		li {
			width: 100%;
			padding: 20px 0 10px;
			border-bottom: 1px solid rgba($gray,0.5);

			a {
				//text-align: left;
				color: $gray;
				font-size: ($font-size-cellphone + 2px);

				span {
					float: right;
				}
			}
		}
	}
}