.blog {
	@include flex(wrap row);
	@include flex-align(space-around, flex-start, flex-start);

	article {
		flex: 0 0 50%;
	}
}

.post {
	background-color: $green;
	height: 300px;
	position: relative;
	overflow: hidden;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/img/office.jpg') left top no-repeat;
		background-size: cover;
		z-index: 10;
	}
	
	&__content {
		z-index: 12;
		color: #fff;
		width: 100%;
		height: 100%;
		position: relative;
		//background-color: rgba(darken($gray, 15%), 0.9);
		background-color: $purple;
		border: 1px solid darken($purple, 15%);
		padding: 15px;
		text-align: center;

		@include flex(wrap row);
		@include flex-align(center, center, center);

		a {
			flex: 0 0 auto;
			text-align: center;
			color: #fff;
			display: block;
		}

		&_tags {
			width: 100%;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin-left: 5px;
				padding: 3px 4px;
				background-color: lighten($yellow, 15%);
				text-transform: uppercase;
				font-size: 14px;
			}
		}

	}

	&.one-four {
		background-color: $purple;
		//flex-basis: 25%;
	}

	&.two-four {
		background-color: $purple;
		flex-basis: 50%;
	}

	&:nth-child(1),
	&:nth-child(3),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(11),
	&:nth-child(12) {
		flex-basis: 25%;
	}
}

/*.blog {
	@include flex(wrap row);
	@include flex-align(space-around, flex-start, flex-start);
	margin: 50px 0 0;
}

.blog__article {
	flex: 0 0 calc(100% / 2);
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);
	min-height: 300px;
	margin-bottom: 50px;
	position: relative;

	div, .blog__article_title {
	}

	&_content, 
	&_title {
		z-index: 5;
		position: relative;
	}

	@media screen and (max-width: $tiny-desktop) {
		flex-basis: calc(90% / 2);
	}

	@media screen and (max-width: 820px) {
		flex-basis: 90%;
	}

	@media screen and (max-width: $commom-cellphone) {
		flex-basis: 90%;
	}
}

.blog__article_title {
	color: #fff;
	display: none;
	padding: 15px 25px;

	@media screen and (max-width: 820px) {padding: 15px 60px;}

	@media screen and (max-width: $commom-cellphone) {padding: 15px;}
}

.blog__article_content {
	width: 100%;
	background-color: rgba(#000, 0.2);
	//border: 1px solid rgba($gray, 0.5);
	padding: 10px;
	min-height: 300px;

	a {
		color: #fff;
		display: block;

		h1, p {color: #fff;}
	}

	span {
		padding-top: 30px;
		display: block;
	}

	.tags li {
		display: inline-block;
		padding-left: 3px;

		&:first-child {padding-left: 0;}
	}

	@media screen and (max-width: $commom-cellphone) {
		flex-basis: 100%;
	}
}

.blog__article_background {
	position: absolute;
	width: 100%;
	height: 300px;
	background: url('/assets/img/office.jpg') center no-repeat;
	background-size: cover;
	top: 0;
	z-index: 3;

	&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		background-color: rgba(0,0,0,0.3);
	}
}

.categories {
	display: block;
	flex: 0 0 90%;
	text-align: center;
	padding: 15px 0 45px;

	ul {
		li {
			display: inline-block;
			padding: 7px 13px;
			margin: 0 5px;
			font-size: 18px;
			cursor: pointer;
			//border-bottom: 1px solid $blue;
		}
	}
}*/