.blog {
	@include flex(wrap row);
	@include flex-align(space-around, flex-start, flex-start);

	article {
		flex: 0 0 50%;

		@media screen and (max-width: 1024px) {flex-basis: 50% !important;}

		@media screen and (max-width: 680px) {
			flex-basis: 100% !important;
			height: 200px;
		}
	}
}

.post {
	background-color: $green;
	height: 300px;
	position: relative;
	overflow: hidden;

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/img/office.jpg') left top no-repeat;
		background-size: cover;
		z-index: 10;
	}
	
	&__content {
		z-index: 12;
		color: #fff;
		width: 100%;
		height: 100%;
		position: relative;
		//background-color: rgba(darken($gray, 15%), 0.9);
		background-color: $purple;
		border: 1px solid darken($purple, 15%);
		padding: 15px;
		text-align: center;

		@include flex(wrap row);
		@include flex-align(center, center, center);

		a {
			flex: 0 0 auto;
			text-align: center;
			color: #fff;
			display: block;
		}

		&_tags {
			width: 100%;
			padding: 0;
			margin: 0;

			li {
				display: inline-block;
				margin-left: 5px;
				padding: 3px 4px;
				background-color: lighten($yellow, 15%);
				text-transform: uppercase;
				font-size: 14px;
			}
		}
	}

	&:nth-child(1),
	&:nth-child(3),
	&:nth-child(5),
	&:nth-child(6),
	&:nth-child(7),
	&:nth-child(8),
	&:nth-child(11),
	&:nth-child(12) {flex-basis: 25%;}

	&[sizer="two-four"] {flex-basis: 25%;}
	&[sizer="half"] {flex-basis: 50%;}
}

.post,
.post__content,
.post__content a,
.post__content_title,
.post__content_tags,
.post__content_tags > li,
.post__content_intro,
.filters__list {
	transition: all 0.2s ease 0.001s;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.post__content {
	&[magic="grow"]:hover {
		.post__content_title {@include transform(scale(1.3));}
		
		.post__content_tags {
			padding: 9px 0;

			li {
				@include transform(scale(1.1));
				margin-left: 12px;
			}
		}

		.post__content_intro {font-size: 18px;}
	}

	&[magic="crazy"]:hover {
		.post__content_title {
			font-size: 35px;
			padding-bottom: 4px;
			@include transform(rotate(-3deg));
		}
		
		.post__content_tags {
			padding: 9px 0;

			li {
				@include transform(scale(1.2) rotate(6deg));

				&:nth-child(2) {@include transform(scale(1.2) rotate(0));}

				&:last-child {@include transform(scale(1.2) rotate(-6deg));}

				margin-left: 16px;
			}
		}

		.post__content_intro {
			font-size: 18px;
			padding-top: 5px;
			@include transform(rotate(3deg));
		}
	}

	&[magic="trade"]:hover {
		.post__content_title {@include transform(translateY(90px));}
		
		.post__content_tags {
			padding: 9px 0;

			li {
				margin-left: 0;
				@include transform(scale(1.2));
				
				&:nth-child(2) {margin: 0 17px;}
			}
		}

		.post__content_intro {
			font-size: 18px;
			padding-top: 5px;
			@include transform(translateY(-90px));
		}
	}

	&[magic="explode"]:hover {
		.post__content_title {@include transform(scale(3));}
		
		.post__content_tags {
			z-index: 15;
			li {
				margin-left: 17px;
				@include transform(scale(2));
			}
		}

		.post__content_intro {
			@include transform(scale(2));
		}
	}
}