// For making post content tags colorful
.post__content_tags li {
	&[tag="tag_name"] { background-color: lighten($yellow, 15%); }

	&[tag="tag_name"] { background-color: lighten($red, 15%); }

	&[tag="tag_name"] { background-color: mix($red, $blue); }

	&[tag="tag_name"] { background-color: lighten($blue, 15%); }

	&[tag="tag_name"] { background-color: lighten($green, 7%); }
}