.comments {
	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);
	padding-top: 30px;

	h1, div {
		flex: 0 0 80%;
		
		@media screen and (max-width: $tablet) {flex-basis: 95%;}
	}
}