.footer {
	text-align: center;
	display: block;
	overflow: hidden;
}

.footer__content {
	width: 100%;
	height: 100%;
	background-color: darken($gray, 5%);
	padding: 10px 0;

	p {
		padding: 5px;
		color: #fff;
	}
}