.menu {
	width: 100%;
	height: auto;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.8);
	transition: all 0.4s ease 0.2s;
	@include flex(wrap row);
	@include flex-align(space-between, center, center);

	.menu__links, 
	.menu__logo {flex: 0 0 auto;}

	@media screen and (max-width: $tablet) {
		text-align: center;
		@include transform(translateY(-152px));
		background-color: darken($gray, 2%);

		.menu__links, 
		.menu__logo {flex-basis: 100%;}
	}
}

.menu__logo {
	img {
		flex-basis: auto;
		height: 30px;
		width: auto;
	}

	@media screen and (max-width: $tablet) {
		order: 3;
		display: block;
	}
}

.menu__links {
	li {
		display: inline-block;
		padding-left: 15px;
		margin-top: -3px;

		a {
			color: #fff;
			font-size: $font-size-tablet;
			text-transform: uppercase;
		}
	}

	@media screen and (max-width: $tablet) {
		padding: 10px 0 20px;
		order: 2;

		li {
			display: block;
			padding: 12px 0;

			a {font-size: 18px;}
		}
	}
}

.menu__search {
	color: #fff;
	font-size: 33px;

	@media screen and (max-width: $tablet) {
		order: 1;
		display: none;
	}
}