.search {
	height: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	background-color: rgba(#000, 0.8);
	transition: all 0.4s ease 0.2s;

	@include flex(wrap row);
	@include flex-align(center, flex-start, flex-start);
}

.search__wrapper {
	flex: 0 0 70%;
	height: auto;
	color: #fff;
	@include flex(wrap row);
	@include flex-align(space-around, flex-start, flex-start);
	padding: 70px 0 30px;

	h1, span,
	ul, input {
		flex: 0 0 100%;
	}

	h1, span {flex-basis: 50%;}

	span {
		text-align: right;
		padding: 15px;
		cursor: pointer;

		&.quit {font-size: 18px;}
	}

	input {
		padding: 13px;
		margin-top: 10px;
		background-color: transparent;
		border-bottom: 1px solid rgba(#fff, 0.8);
		color: #fff;
		font-size: 19px;
		outline: none;
	} 

	ul {
		margin-top: 25px;

		li {
			width: 100%;
			display: block;
			margin-bottom: 25px;
			border-bottom: 1px solid rgba(#fff, 0.8);
			padding-bottom: 8px;

			a {
				color: #fff;
			}
		}
	}
}